.signup-container {
    background-color: #2e2e2e;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.signup-container h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.btn-social {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-google {
    background-color: #65A6D7;
    color: #000000;
    background-image: url('/img/google.png'); 
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 28px; 
    padding-left: 2rem; 
    background-position: 10px 50%; 
}
.btn-google:hover {
    background-color: #ffffff;
}
.btn-facebook {
    background-color: #929FA9;
    color: #000000;
    background-image: url('/img/facebook.png'); 
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px; 
    padding-left: 2rem; 
    background-position: 10px 50%; 
}
.btn-facebook:hover {
    background-color: #ffffff;
}
.divider {
    margin: 15px 0;
    font-size: 14px;
    color: #aaa;
}