.podcontainer {
    max-width: 8000px;
    color: #fff;
    overflow: hidden;
  }
  
  .podheader {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    background-color: #444; 
    position: relative; 
    height: 50vh; 
    min-height: 50px; 
    width: 100%; 
    background-size: cover; 
    background-position: left; 
    margin: 0; 
  }
  
  .podcover {
    width: 400px;
    height: 450px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .podinfo {
    flex: 1;
  }
  
  .podtype {
    font-size: 14px;
    color: #bbb;
  }
  
  .podtitle {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .scroll-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    position: relative; 
    
  }
  
  .scrolbutton {
    background: none;
    border: none;
    font-size: 24px;
    color: #456ccf;
    cursor: pointer;
    position: absolute;
    top: 160px; 
    left: -30; 
    transition: transform 0.3s ease, font-size 0.3s ease; 
  }
  
  .scrolbutton:hover {
    transform: scale(1.2); 
    font-size: 35px; 
    color: #ff4500;
  }
  
  .scroll-text {
    position: absolute;
    color: #456ccf; 
    font-size: 16px; 
    font-weight: 500; 
    top: 163px;
    left: 35px; 
  }
  
  .poddescription {
    padding: 20px;
    background-color: #222;
    height: 300px; 
    overflow-y: auto; 
    transition: padding 0.3s ease;
  }
  
  .poddescription.active {
    padding: 20px; 
    overflow-y: auto; 
  }
  
  .backbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .backbutton:hover {
    background-color: #0056b3; 
    transform: scale(1.1); 
  }
  
  
  .episode {
    display: flex;
    align-items: center;
  }
  
  .epicover {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .epidetails {
    flex: 1;
  }
  
  .epidetails h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .epidetails p {
    margin: 10px 0;
    color: #bbb;
  }
  
  .playbutton {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease; 
  }
  
  .playbutton:hover {
    transform: scale(1.2); 
    color: #00ff00; 
  }
  
  
  .desctext {
    margin: 20px 0;
    font-size: 16px;
    color: #bbb;
    display: none;
  }
  
  .poddescription .episode,
  .poddescription .backbutton {
    display: none;
  }
  
  .poddescription.active .desctext {
    display: block;
  }
  
  .poddescription.active .episode,
  .poddescription.active .backbutton {
    display: block;
  }
  