#koleksi-section {
    padding: 20px;
    background-color: #000000; 
    display: none; 
    max-height: 100vh; 
    overflow-y: auto; 
}

#koleksi-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 1rem;
    color: white; 
    text-transform: uppercase; 
}

#koleksi-section .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    max-height: calc(80vh - 50px); 
    overflow-y: auto; 
}

#koleksi-section .card {
    background-color: #4f4f4f; 
    border-radius: 15px; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer; /* Menambahkan pointer saat hover */
}

#koleksi-section .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

#koleksi-section .card img {
    width: 100%; 
    border-radius: 15px; 
    margin-bottom: 15px; 
}

#koleksi-section .card-info p {
    font-size: 14px; 
    margin-bottom: 10px; 
}

.card-info span {
    font-size: 12px; 
    color: #d1d1d1; 
}

.card-link {
    display: block;
    text-decoration: none; 
}

.card-link img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.card-info {
    padding: 10px;
    color: #ffffff;
}

.card-info p {
    font-weight: bold;
}

.card-info span {
    font-size: 12px;
    color: #ccc;
}
