.podcast-slider-container2 {
    padding: 30px;
    position: relative;
    max-width: 98%;
    align-items: center;
    color: #fff; 
    background-color: #000; 
    background-size: 1000%; 
    background-repeat: no-repeat; 
  }
  
  .podcast-slider-container2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .podcast-slider-wrapper2 {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 20px;
    overflow: hidden; 
  }
  
  .podcast-slide2 {
    min-width: 19%;
    box-sizing: border-box;
  }
  
  .podcast-slide2 img {
    width: 100%;
    height: auto; 
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .podcast-slide2 img:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
  }
  
  .slider-btn {
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 0px 30px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    font-size: 80px;
  }
  
  .slider-btn.left {
    left: 60px;
  }
  
  .slider-btn.right {
    right: 60px;
  }
  
  .slider-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }