
@import './login/alternative-login.css';
@import './login/login-form.css';
@import './login/buttons.css';
@import './login/separator.css';
@import './login/footer.css';

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
